# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Run chmod to make gradlew executable
      run: chmod +x ./gradlew 
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2.9.0
      with:
        arguments: build
    - name: executing remote ssh commands using ssh key
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_KEY }}
        port: ${{ secrets.SERVER_PORT }}
        script: |
          whoami
          ls -al
    - name: Copy war file to remote
      uses: appleboy/scp-action@master
      with:
        username: ${{ secrets.SERVER_USERNAME }}
        host: ${{ secrets.SERVER_HOST }}
        key: ${{ secrets.SERVER_KEY }}
        source: "./build/libs/*.war"
        target: "/home/ubuntu/deploy"
        strip_components: 2
    - name: Execute deploy script
      uses: appleboy/ssh-action@master
      with:
        username: ${{ secrets.SERVER_USERNAME }}
        host: ${{ secrets.SERVER_HOST }}
        key: ${{ secrets.SERVER_KEY }}
        script_stop: true
        script: |
          chmod +x /home/ubuntu/deploy/deploy.sh
          sh /home/ubuntu/deploy/deploy.sh
